//output:index.php
doctype html
html(lang='es')
    head
        title Orange Puebla
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')
        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/skeleton.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/font.css')
        link(rel='stylesheet', href='css/master.min.css')
        //- ----- JS Files ----- //
        script(type='text/javascript', src='js/jquery.min.js')
        script(type='text/javascript', src='js/responsiveslides.min.js')
        script(type='text/javascript', src='js/main.js')
        script(type='text/javascript', src='js/parallax/src/parallax.js')
        script.
          $(function() {
            $(".rslides").responsiveSlides({speed: 900});
          });
    body.page-overview
      header.header-t
        figure#mainlogo
          img(src='img/logo.png', alt='orange_logo')
          figcaption ORANGE PUEBLA 
        img#secondlogo(src='img/logo_b.png', alt='bravhac_logo')
        nav
          ul
            li
              a(href='#') ¿Quien?
            li
              a(href='#') ¿Que Hacemos?
            li
              a(href='#') ¿Como?
            li
              a(href='#') Servicios
            li
              a(href='#') Contacto
      .wrapp
        .hero-slide.headerimg
          ul.rslides
            li
              img(src='img/slides/h01.jpg', alt='')
            li
              img(src='img/slides/h02.jpg', alt='')
            li
              img(src='img/slides/h03.jpg', alt='')
            li
              img(src='img/slides/h04.jpg', alt='')
            li
              img(src='img/slides/h05.jpg', alt='')
        .what
          #square-orange
            h4 ¿QUÉ HACEMOS?
            p.
              Cleanwork Orange® es un proceso en seco de desinfección y sanitización de colchones, con tecnología alemana, totalmente natural. El tratamiento garantiza la protección del colchón, eliminando y destruyendo ácaros, bacterias, moho y otros tipos de residuos que se encuentran en su colchón. De eficacia comprobada y beneficios inimaginables para su salud y confort. Además de ser un sistema efectivo e inofensivo, el servicio se presta a domicilio sin retirar en ningún momento el colchón, se realiza durante un período de tiempo que depende del tamaño de su colchón entre 20 y 40 minutos y éste podrá ser usado de inmediato.
        .what-2.pics
          article.container
            .row.img-row
              figure.columns.four
                img(src='img/fig1.jpg', title="cama", alt="cama", attr)
                figcaption.
                  Se trata de un sistema no invasivo, en seco y totalmente seguro para desinfectar cualquier tipo de colchón, sillón, alfombra, vestidura, sin importar su antigüedad, tamaño o estilo. Es inofensivo para el ser humano, para los animales domésticos, para los textiles y para el medio ambiente.
              figure.columns.four
                img(src='img/fig2.jpg', title="vestiduras", alt="vestiduras", attr)
                figcaption.
                  Tecnología avanza de espuma ultra-seca (aplicable a telas, piel y alfombra).<br/>
                  Usa miles de pequeñas burbujas, las cuales son 90% aire y solamente 10% humedad. Junto con nuestros detergentes son el perfecto sistema de encapsulación de mugre.
              figure.columns.four
                img(src='img/fig3.jpg', title="sala", alt="sala", attr)
                figcaption.
                  Nuestros servicios le garantizan una desinfección total por un tiempo de 6 meses, periodo que recomendamos para que se realice el siguiente servicio.
        .tech
          article.container
            p.
              Tecnología avanzada de <span>Espuma Ultra-seca<br>(aplicable a telas, piel y alfombras)</span><br><br>Usa miles de pequeñas burbujas, las cuales son 90% aire y 10% humedad. Junto con nuestros detergentes son el mejor sistema de encapsulación de mugre.<br><br>!No galones de agua¡,así las alfombras y la tapicería de muebles y vestiduras quedan limpias y realmente secas en una hora o menos. Otros métodos de limpieza dejan exceso de agua sucia, por lo que las alfombras y muebles tardan mucho tiempo en secarse y corren el riesgo de generar malos olores y moho además fácilmente se re ensucian.<br><br>Para limpiar muebles, colchones, autos, vans, suv, tráileres, casas rodantes, botes y otros tipos de interiores.
            div
              figure
                img(src='source', title="title", alt="alt", attr)
                figcaption Amigable con el medio ambiente
              figure
                img(src='source', title="title", alt="alt", attr)
                figcaption Baja humedad, secado rapido
              figure
                img(src='source', title="title", alt="alt", attr)
                figcaption Limpieza y extracción profunda
              figure
                img(src='source', title="title", alt="alt", attr)
                figcaption La manera segura de limpiar
              figure
                img(src='source', title="title", alt="alt", attr)
                figcaption Se mantiene limpio por mas tiempo
            p.
              <span>Importante mencionar que con esta tecnología también se limpian salas o vestiduras de PIEL.</span>
        .tech
          h4 <b>Alfombras y <span>tapetes</span></b>
          p.
            El limpiador de alfombras en seco de formulación exclusiva, esta diseñado para usarse en muchas aplicaciones y satisfacer todas sus necesidades de limpieza de alfombras y tapetes. Eliminan manchas, derrames y suciedad grasosa o aceitosa.
          img(src='img/circles.png', alt='servicios')
        .how
          article.container
            h2 COMO LO HACEMOS?
            .row.img-row
              video.columns.four(src='video/01.mp4' type='video/mp4' controls preload)
              video.columns.four(src='video/01.mp4' type='video/mp4' controls preload)
              video.columns.four(src='video/01.mp4' type='video/mp4' controls preload)
            p.
              La limpieza profunda y desinfección de colchones funciona así: La máquina utiliza un potente sistema de aspiración y emite vibraciones de alta frecuencia las cuales destruyen y extraen a los ácaros y muchos otros microorganismos presentes en el colchón. Además cuenta con una luz UV-C germicida que desactiva el ADN de bacterias, virus y otros agentes patógenos destruyendo su capacidad de multiplicarse y causar enfermedades. La cantidad de ácaros, sus excrementos y demás microorganismos que se pueden encontrar en un colchón varía, pero en ocasiones puede representar hasta un 20% del peso total del colchón.
        .cert
          article.container
            h3 CERTIFICACIONES
            .row
              img.columns.four(src="img/cert.jpg", alt="cert")
              img.columns.four(src="img/cert.jpg", alt="cert")
              img.columns.four(src="img/cert.jpg", alt="cert")
        .our-servs
          article.container
            h3 NUESTROS SERVICIOS
            .row
              figure.columns.four
                img(src='source', title="title", alt="alt", attr)
                figcaption limpieza y desinfección de colchones (&aacute;caros)
              figure.columns.four
                img(src='source', title="title", alt="alt", attr)
                figcaption limpieza y desinfeccón de tapicerías a baja humedad
              figure.columns.four
                img(src='source', title="title", alt="alt", attr)
                figcaption LIMPIEZA Y DESINFECCIÓN EN SECO PARA TAPETES, ALFOMBRAS Y CUALQUIER TIPO DE MUEBLE TAPIZADO CON TEXTILES
            .row
              figure.columns.four
                img(src='source', title="title", alt="alt", attr)
                figcaption LIMPIEZA DE VESTIDURAS DE AUTOS
              figure.columns.four
                img(src='source', title="title", alt="alt", attr)
                figcaption LIMPIEZA DE MAMPARAS
              figure.columns.four
                img(src='source', title="title", alt="alt", attr)
                figcaption LIMPIEZA DE SALAS Y VESTIDURAS DE PIEL
        .percent
          p Algunos estudios de investigación han mostrado que una limpieza con nuestro sistema reduce:
          .row
          p No se forma moho ni añublo (hongo) por la humedad de las alfombras.
        .juntas
          #left-l
            h3 Limpieza de juntas del piso y todo tipo de piso texturizado
            p.
              Con este sistema también se puede limpiar las uniones de piso (juntas). Además de lavar todo tipo de pisos texturizados como: Loseta de cerámica, ladrillo, Slate, epóxico, piedra caliza, cantera, etc.
        h2#hcont CONTACTO
      #dead-space.hero-slide
