//output:index.php
doctype html
html(lang='es')
    head
        title Orange Puebla
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')
        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/skeleton.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/font.css')
        link(rel='stylesheet', href='css/master.min.css')
        //- ----- JS Files ----- //
        script(type='text/javascript', src='js/jquery.min.js')
        script(type='text/javascript', src='js/responsiveslides.min.js')
        script(type='text/javascript', src='js/main.js')
        script.
          $(function() {
            $(".rslides").responsiveSlides({speed: 900});
          });
    body.page-overview
      header.header-t
        figure#mainlogo
          img(src='img/logo.png', alt='orange_logo')
          figcaption ORANGE PUEBLA 
        img#secondlogo(src='img/logo_b.png', alt='bravhac_logo')
        nav
          ul
            li
              a(href='#hdr') ¿Quien?
            li
              a(href='#what') ¿Que Hacemos?
            li
              a(href='#how') ¿Como?
            li
              a(href='#servs') Servicios
            li
              a(href='#hcont') Contacto
      .wrapp#hdr
        .hero-slide.headerimg
          ul.rslides
            li
              img(src='img/slides/h01.jpg', alt='orange_dog')
            li
              img(src='img/slides/h02.jpg', alt='orange_seat')
            li
              img(src='img/slides/h03.jpg', alt='orange_arm')
        .what#what
          #square-orange
            h4 ¿QUÉ HACEMOS?
            p.
              Cleanwork Orange® es un proceso en seco de desinfección y sanitización de colchones, con tecnología alemana, totalmente natural. El tratamiento garantiza la protección del colchón, eliminando y destruyendo ácaros, bacterias, moho y otros tipos de residuos que se encuentran en su colchón. De eficacia comprobada y beneficios inimaginables para su salud y confort. Además de ser un sistema efectivo e inofensivo, el servicio se presta a domicilio sin retirar en ningún momento el colchón, se realiza durante un período de tiempo que depende del tamaño de su colchón entre 20 y 40 minutos y éste podrá ser usado de inmediato.
        .what-2.pics
          article.container
            .row.img-row
              figure.columns.four
                img(src='img/fig1.jpg', title="cama", alt="cama", attr)
                figcaption.
                  Se trata de un sistema no invasivo, en seco y totalmente seguro para desinfectar cualquier tipo de colchón, sillón, alfombra, vestidura, sin importar su antigüedad, tamaño o estilo. Es inofensivo para el ser humano, para los animales domésticos, para los textiles y para el medio ambiente.
              figure.columns.four
                img(src='img/fig2.jpg', title="vestiduras", alt="vestiduras", attr)
                figcaption.
                  Tecnología avanzada de espuma ultra-seca (aplicable a telas, piel y alfombra).<br/>
                  Usa miles de pequeñas burbujas, las cuales son 90% aire y solamente 10% humedad. Junto con nuestros detergentes son el perfecto sistema de encapsulación de mugre.
              figure.columns.four
                img(src='img/fig3.jpg', title="sala", alt="sala", attr)
                figcaption.
                  Nuestros servicios le garantizan una desinfección total por un tiempo de 6 meses, periodo que recomendamos para que se realice el siguiente servicio.
        .tech
          article.container
            p.
              <b>Tecnología avanzada de <span>Espuma Ultra-seca<br>(aplicable a telas, piel y alfombras)</span></b><br><br>Usa miles de pequeñas burbujas, las cuales son 90% aire y 10% humedad. Junto con nuestros detergentes son el mejor sistema de encapsulación de mugre.<br><br>!No galones de agua¡,así las alfombras y la tapicería de muebles y vestiduras quedan limpias y realmente secas en una hora o menos. Otros métodos de limpieza dejan exceso de agua sucia, por lo que las alfombras y muebles tardan mucho tiempo en secarse y corren el riesgo de generar malos olores y moho además fácilmente se re ensucian.<br><br>Para limpiar muebles, colchones, autos, vans, suv, tráileres, casas rodantes, botes y otros tipos de interiores.
            img(src='img/lults.jpg', alt='lults')
            p.
              <b><span>Importante mencionar que con esta tecnología también se limpian salas o vestiduras de PIEL.</span></b>
        .tech
          article.container
            h4 <b>Alfombras y <span>tapetes</span></b>
            p.
              El limpiador de alfombras en seco de formulación exclusiva, esta diseñado para usarse en muchas aplicaciones y satisfacer todas sus necesidades de limpieza de alfombras y tapetes. Eliminan manchas, derrames y suciedad grasosa o aceitosa.
            img(src='img/circles.png', alt='servicios')
        .how#how
          article.container
            h2 COMO LO HACEMOS?
            .row.img-row
              video.columns.four(src='video/orange_p2.mp4' type='video/mp4' controls, preload, poster='img/video-thumb.jpg')
              video.columns.four(src='video/orange_p3.mp4' type='video/mp4' controls, preload, poster='img/video-thumb.jpg')
              video.columns.four(src='http://orangepuebla.com/alter/assets/cleanwork-orange-(2).mp4' type='video/mp4' controls, preload, poster='img/video-thumb.jpg')
            p.
              La limpieza profunda y desinfección de colchones funciona así: La máquina utiliza un potente sistema de aspiración y emite vibraciones de alta frecuencia las cuales destruyen y extraen a los ácaros y muchos otros microorganismos presentes en el colchón. Además cuenta con una luz UV-C germicida que desactiva el ADN de bacterias, virus y otros agentes patógenos destruyendo su capacidad de multiplicarse y causar enfermedades. La cantidad de ácaros, sus excrementos y demás microorganismos que se pueden encontrar en un colchón varía, pero en ocasiones puede representar hasta un 20% del peso total del colchón.
        .cert
          article.container
            h3 CERTIFICACIONES
            .row
              img.columns.four(src="img/cert1.png", alt="cert")
              img.columns.four(src="img/cert2.png", alt="cert")
              img.columns.four(src="img/cert3.png", alt="cert")
        .our-servs#servs
          article.container
            h3 NUESTROS SERVICIOS
            .row
              figure.columns.four
                img(src='img/ser1.jpg', title="title", alt="alt", attr)
                figcaption limpieza y desinfección de colchones (&aacute;caros)
              figure.columns.four
                img(src='img/ser2.jpg', title="title", alt="alt", attr)
                figcaption limpieza y desinfeccón de tapicerías a baja humedad
              figure.columns.four
                img(src='img/ser3.jpg', title="title", alt="alt", attr)
                figcaption LIMPIEZA Y DESINFECCIÓN EN SECO PARA TAPETES, ALFOMBRAS Y CUALQUIER TIPO DE MUEBLE TAPIZADO CON TEXTILES
            .row
              figure.columns.four
                img(src='img/ser4.jpg', title="title", alt="alt", attr)
                figcaption LIMPIEZA DE VESTIDURAS DE AUTOS
              figure.columns.four
                img(src='img/ser5.jpg', title="title", alt="alt", attr)
                figcaption LIMPIEZA DE MAMPARAS
              figure.columns.four
                img(src='img/ser6.jpg', title="title", alt="alt", attr)
                figcaption LIMPIEZA DE SALAS Y VESTIDURAS DE PIEL
        .percent
          article.container
            p <b>Algunos estudios de investigación han mostrado que una limpieza con nuestro sistema reduce:</b>
            #perc
              img(src='img/percent.png', alt='percent')
            p <b>No se forma moho ni añublo (hongo) por la humedad de las alfombras.</b>
        .juntas
          #left-l
            h3 Limpieza de juntas del piso y todo tipo de piso texturizado
            p.
              Con este sistema también se puede limpiar las uniones de piso (juntas). Además de lavar todo tipo de pisos texturizados como: Loseta de cerámica, ladrillo, Slate, epóxico, piedra caliza, cantera, etc.
        h2#hcont CONTACTO
      footer
        article.container
          .row
            .sectionist.columns.four
              form#ajax-form.contacto.orange-c(action='mail-it.php', method='post', name='ajax-form')
                input#name(type='text', name='name', placeholder='Nombre')
                input#tel(type='text', name='tel', placeholder='Telefono')
                input#mail(type='email', name='mail', placeholder='Su correo electronico')
                textarea(name='message', cols='40', rows='3')
                input.send.send_message.button-primary(type='submit', name='enviar', value='Enviar') 
            .sectionist.text-n.columns.four
              h4 llamanos
              h2
                a(href='2223215147', attr='celphone') 22.23.21.51.47
              img.rsoc(src='img/fb.png')
              p.
                Encuentranos a traves de Facebook, preguntanos cualquier cosa y agenda una cita tambien
              img(src='img/visa.png')
            .sectionist.text-n.columns.four
              h4 escribenos
              h5
                a.msorange(href='mailto:info@orangepuebla.com', target='_blank') info@orangepuebla.com
              img.rsoc(src='img/wp.png')
              p.
                Contáctanos por Whatsapp
                <span>22.23.21.51.47</span>
