//output:index.php
doctype html
html(lang='es')
    head
        title Orange Puebla
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')
        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/skeleton.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/font.css')
        link(rel='stylesheet', href='css/master.min.css')
        //- ----- JS Files ----- //
        script(type='text/javascript', src='js/jquery.min.js')
        script(type='text/javascript', src='js/responsiveslides.min.js')
        script(type='text/javascript', src='js/main.js')
        script(type='text/javascript', src='js/parallax/src/parallax.js')
        script.
          $(function() {
            $(".rslides").responsiveSlides({speed: 900});
          });
    body.page-overview
      header
        figure#mainlogo
          img(src='img/logo.png', alt='orange_logo')
          figcaption ORANGE PUEBLA 
        img#secondlogo(src='img/logo_b.png', alt='bravhac_logo')
        nav
          ul
            li
              a(href='#') ¿Quien?
            li
              a(href='#') ¿Que Hacemos?
            li
              a(href='#') ¿Como?
            li
              a(href='#') Servicios
            li
              a(href='#') Contacto
      .wrapp
        .hero-slide.headerimg
          ul.rslides
            li
              img(src='img/slides/h01.jpg', alt='')
            li
              img(src='img/slides/h02.jpg', alt='')
            li
              img(src='img/slides/h03.jpg', alt='')
            li
              img(src='img/slides/h04.jpg', alt='')
            li
              img(src='img/slides/h05.jpg', alt='')
        .what
          #square-orange
            h4 ¿QUÉ HACEMOS?
            p.
              Cleanwork Orange® es un proceso en seco de desinfección y sanitización de colchones, con tecnología alemana, totalmente natural. El tratamiento garantiza la protección del colchón, eliminando y destruyendo ácaros, bacterias, moho y otros tipos de residuos que se encuentran en su colchón. De eficacia comprobada y beneficios inimaginables para su salud y confort. Además de ser un sistema efectivo e inofensivo, el servicio se presta a domicilio sin retirar en ningún momento el colchón, se realiza durante un período de tiempo que depende del tamaño de su colchón entre 20 y 40 minutos y éste podrá ser usado de inmediato.
        .what-2.pics
          article.container
            .row.img-row
              figure.columns.four
                img(src='img/fig1.jpg', title="cama", alt="cama", attr)
                figcaption.
                  Se trata de un sistema no invasivo, en seco y totalmente seguro para desinfectar cualquier tipo de colchón, sillón, alfombra, vestidura, sin importar su antigüedad, tamaño o estilo. Es inofensivo para el ser humano, para los animales domésticos, para los textiles y para el medio ambiente.
              figure.columns.four
                img(src='img/fig2.jpg', title="vestiduras", alt="vestiduras", attr)
                figcaption.
                  Tecnología avanza de espuma ultra-seca (aplicable a telas, piel y alfombra).<br/>
                  Usa miles de pequeñas burbujas, las cuales son 90% aire y solamente 10% humedad. Junto con nuestros detergentes son el perfecto sistema de encapsulación de mugre.
              figure.columns.four
                img(src='img/fig3.jpg', title="sala", alt="sala", attr)
                figcaption.
                  Nuestros servicios le garantizan una desinfección total por un tiempo de 6 meses, periodo que recomendamos para que se realice el siguiente servicio.
        .tech
          article.container
            p.
              Tecnología avanzada de <span>Espuma Ultra-seca<br>(aplicable a telas, piel y alfombras)</span><br><br>Usa miles de pequeñas burbujas, las cuales son 90% aire y 10% humedad
        #dead-space.hero-slide
